<!DOCTYPE html>
<html lang="en" xmlns:th="http://thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Edit user</title>
</head>
<body>

<form th:method="PATCH" th:action="@{/users/{id}(id=${user.getId()})}" th:object="${user}">
    <label for="username">Enter name: </label>
    <input type="text" th:field="*{username}" id="username"/>
    <label for="password">Enter password: </label>
    <input type="text" th:field="*{password}" id="password"/>

    <br/>


        <div th:each = "role : ${roleMap}">
            <input type="checkbox" name = "list"  th:value="${role.key}" th:checked="${role.value}" />
            <label th:text = "${role.key}"></label>
        </div>



    <input type="submit" value="update"/>



</form>

</body>
</html>