<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>
<div th:insert="~{/logout::logout_button}"/>

<div>
    User Name:
    <p th:text="${user.getUsername()}">VALUE</p>
    User ID:
    <p th:text="${user.getId()}">VALUE</p>
    <a th:href="@{/admin/{id}/edit(id=${user.getId()})}">Edit</a>

    <form th:method="POST" th:action="@{/admin/delete/{id}(id=${user.getId()})}">
        <input type="submit" value="Delete"/>
    </form>
</div>
</body>
</html>